*{
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
.container
{
margin: 100px;
padding: auto;
background-color: blue;
color: azure; 
}
#resultado
{
margin-top: 25px;
padding: auto;
color: crimson;
}


